{% extends 'base.html.twig' %}

{% block title %}Chuckle index{% endblock %}

{% block body %}
    <h1>Chuckle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chuckle in chuckles %}
            <tr>
                <td>{{ chuckle.id }}</td>
                <td>{{ chuckle.message }}</td>
                <td>
                    <a href="{{ path('app_chuckle_show', {'id': chuckle.id}) }}">show</a>
                    <a href="{{ path('app_chuckle_edit', {'id': chuckle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chuckle_new') }}">Create new</a>
{% endblock %}
